@CHARSET "UTF-8";

body{
	margin:0 auto;
}
#navigation{
	text-align:center;
	border-bottom:1px solid black;
}
#main{
	width:80%;
	margin:0 auto;
}




#footer{
	position:absolute;
	bottom:0;
	margin-top:20px;
	text-align:center;
	border-top:1px solid black;

}